@font-face {
    font-family: fontp;
    src: url(fonts/leitura.otf);
}

@font-face {
    font-family: fonttwee;
    src: url(fonts/dharma.ttf);
}


body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

#title {
  width: 50%;
  height: 33px;
  float: left;
  border-bottom: 0.5px solid black;
  background-color: white;
}

#title h1 {
  font-family: "fontp";
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

#title img {
  width: 20px;
  float: left;
  margin-top: -5px;
}

#menu {
  width: 50%;
  height: 33px;
  float: left;
  border-bottom: 0.5px solid black;
  background-color: white;
}

#menu h1 {
  font-family: "fontp";
  font-size: 14px;
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

#menu h1 a {
  text-decoration: none;
  color: black;
}

#menu a:hover {
  text-decoration: none;
  color: red;
}

#workmenu {
  width: 10%;
  height: 100%;
  float: left;
  position:absolute;
  margin-top: 33px;
  border-right: 0.5px solid black;
}

#workmenu h1 {
  font-family: "fontp";
  font-size: 14px;
  padding-top: 50px;
  margin-left: 20px;
  text-align: left;
}

#rain img {
  width: 10px;
}

h3 {
    font-family: "fontp";
  float: left;
  text-align:center;
    padding: 0;
    font-size: 90px;
    position: relative;
    overflow: auto;
    color: blue;
    margin-left:40px;
    margin-right:40px;
}
.cover {
    height: 500px;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
}